@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171717; /* neutral-900 */
  color: white;
}

input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea,
select,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}
